#Simple way to include all the various klicky macros and configurations
# the current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

#[include ./klicky-specific.cfg]                #place to put other configurations specific to your printer
#[include ./klicky-variables.cfg]                #Required
#[include ./klicky-macros.cfg]                   #Required
#[include ./klicky-bed-mesh-calibrate.cfg]      #bed mesh, requires klipper configuration
#[include ./klicky-screws-tilt-calculate.cfg]   #help adjust bed screws automatically
#[include ./klicky-quad-gantry-level.cfg]       #level 4 Z motors
#[include ./klicky-z-tilt-adjust.cfg]           #level 2 or 3 Z motors

#############
# 	Probe
#############
[dockable_probe]
pin: ^EBB36:PB6
x_offset: -27.5
y_offset: 7.5
sample_retract_dist: 5
speed: 20
lift_speed: 5
#z_offset: 9.935  # Will be overridden when you do a PROBE_CALIBRATE
samples: 2
samples_tolerance: 0.05
samples_tolerance_retries: 3
approach_position: 31, 112
dock_position:  6, 122
detach_position: 31, 122
extract_position: 6, 96
insert_position: 6, 96
check_open_attach: True
attach_speed: 25.0
detach_speed: 25.0
travel_speed: 200.0